<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tutorial</title>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='introjs.min.css') }}"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    
	<body>
        <div id="buttonsDiv">
            <a class="button" href="javascript:void(0);" onclick="javascript:startIntro();">Restart tutorial</a>
            <button type="button" id="resetButton" class="button">Reset</button>
		    <button type="button" id="undoButton" class="button">Undo</button>
            <button type="button" id="giveUpButton" class="button" style="visibility: hidden;">Give Up</button>
        </div>
		<p><canvas id="gameCanvas" width="662" height="660"> </canvas></p>

        <div id="finish" class="overlay">
            <p href="javascript:void(0)" class="closebtn" onclick="closeFinish()">&times;</p>
			<div class="overlay-content">
				<p id="messageTitle"></p>
				<p id="code"></p>
			</div>
		</div>

        <script src="{{ url_for('static', filename='intro.min.js') }}"></script>
        <script src="{{ url_for('static', filename='tutorialintro.js') }}"></script>
        <script src="{{ url_for('static', filename='tutorial.js') }}"></script>
	</body>
</html>
